body {
    font: 13px/23px Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    border-top: 4px solid;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', serif;
}
  
.site-header {
    font-size: 12px;
    border-bottom: 4px solid;
}
  
.header-left {
    margin-top: 70px;
}
.header-left p i {
    margin-right: 7px;
}

.logo {
    margin: 40px auto;
    text-align: center;
}

.header-right {
    margin: 52px auto;
    text-align: right;
}