@import "main.css";

#logo {
  font-size: 34px;
  line-height: 76px;
  min-width:200px
}

h5.event-title {
  line-height: 22px;
  font-weight: 700;
  font-size: 18px;
  color: #8c489f;
}
